#booking-container {
  width: 1440px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#booking-title {
  color: black;
  font-size: 92px;
  font-family: 'Markazi Text', serif;
  font-weight: 600;
}

#booking-desc {
  color: black;
  font-size: 48px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}