#specials-title {
  display: flex;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

#specials-title h1 {
  color: black;
  font-size: 92px;
  font-family: 'Markazi Text', serif;
  font-weight: 600;
}

#specials-title a {
  border-radius: 30px;
  background-color: #f4ce14;
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-family: 'Markazi Text', serif;
  font-weight: 600;
  padding: 20px 60px;
}

#specials-cards {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}